.intro{
    position: relative;
    min-height: calc(100vh - 70px);
    isolation: isolate;
    display: flex;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        bottom: -110px;
        left: 0;
        width: 100%;
    height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(43, 56, 69, 0) 0%, #2B3845 61.35%);
        @media (max-width: 992px) {
            bottom: -150px;
            background: linear-gradient(180deg, rgba(43, 56, 69, 0) 0%, #2B3845 71.35%);
        }
        @media (max-width: 576px) {
            background: linear-gradient(180deg, rgba(43, 56, 69, 0) 0%, #2B3845 81.35%);
        }
    }
    &__body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__background{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img{
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @media (max-width: 1200px) {
                width: auto;
            }
            @media (max-width: 576px) {
                right: -100px;
            }
            @media (max-width: 420px) {
                right: -150px;
            }
        }
    }
    &__title{
        font-weight: 600;
        font-size: 80px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 15px;
        color: #FFF;
        max-width: 926px;
        width: 100%;
        @media (max-width: 1200px) {
            font-size: 74px;
        }
        @media (max-width: 992px) {
            font-size: 64px;
        }
        @media (max-width: 768px) {
            font-size: 44px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
        }
    }
    &__p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        max-width: 630px;
        width: 100%;
        margin-bottom: 54px;
        @media (max-width: 1200px) {
            font-size: 19px;
        }
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 576px) {
            // width: calc(100% + 30px);
            // margin-left: -15px;
            letter-spacing: -1px;
        }
    }
    &__scroll{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &:active{
            text-decoration: none;
        }
        &:hover{
            span{
                color: #DCC39E;
            }
        }
        span{
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            transition: 300ms ease;
            margin-bottom: 10px;
        }
        svg{
            animation: scroll 2s infinite;
        }
    }
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}