mixin amenities()
    section.amenities#amenities 
        .amenities__body 
            .amenities__wrapper 
                .amenities__item 
                    p.amenities__item-title 01. Panoramic views 
                    .amenities__item-img 
                        img(src="@img/amenities-1.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 02. Floating pool 
                    .amenities__item-img 
                        img(src="@img/amenities-2.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 03. Maritime centre 
                    .amenities__item-img  
                        img(src="@img/amenities-3.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 04. Exclusive design 
                    .amenities__item-img 
                        img(src="@img/amenities-4.png", alt="" draggable="false") 
        .amenities-mobile.container
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-2.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 01
                    h3 INFINITY POOLS
                .amenities-mobile__box-paragraph
                    p Safa One offers you two unique beach pools, complete with golden sands. Ease your way into glorious temperature-controlled waters and wade to the edge of infinity.
                .amenities-mobile__box-hr
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-1.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 02
                    h3 BREATHTAKING VIEW
                .amenities-mobile__box-paragraph
                    p Opening onto scenic views of the city and the sea, Safa One is surrounded by Dubai's most sought-after neighbourhoods.
                .amenities-mobile__box-hr
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-4.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 03
                    h3 EXCLUSIVE DESIGN
                .amenities-mobile__box-paragraph
                    p The architectural design of the building replicates a masterpiece necklace created by Fawaz Gruosi, the founder of de GRISOGONO. 
                .amenities-mobile__box-hr