mixin amenities()
    section.amenities#amenities 
        .amenities__body.container 
            .amenities__wrapper 
                .amenities__item 
                    p.amenities__item-title 01. Panoramic views
                    .amenities__item-img 
                        img(src="@img/amenities-1.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 02. 51st floor gym
                    .amenities__item-img 
                        img(src="@img/amenities-2.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 03. Maritime centre
                    .amenities__item-img 
                        img(src="@img/amenities-3.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 04. Exclusive design
                    .amenities__item-img 
                        img(src="@img/amenities-4.png", alt="" draggable="false")