mixin footer()
    footer.footer 
        a(href="#header").footer__scroll.hover 
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="23" cy="23" r="22.5" stroke="#DCC39E"/>
                <path d="M23 32V15M23 15L18 20.1739M23 15L28 20.1739" stroke="#DCC39E"/>
            </svg> 
        .footer__nav.container 
            a(href="#").footer__logo
                img(src="@img/logo-white.svg", alt="" draggable="false") 
            ul.footer__list 
                li.footer__li 
                    a(href="#about").footer__link.hover About 
                li.footer__li 
                    a(href="#amenities").footer__link.hover Amenities 
                li.footer__li 
                    a(href="#floor").footer__link.hover Floor Plan 
                li.footer__li 
                    a(href="#gallery").footer__link.hover Gallery 
                li.footer__li
                    a(href="#location").footer__link.hover Location 
                li.footer__li 
                    a(href="#offer").footer__link.hover Payment Plan 
                li.footer__li 
                    a(href="#developer").footer__link.hover Developer 
                li.footer__li 
                    a(href="#offer").footer__link.hover Invest 
            p.footer__p © 2022 ALL RIGHTS RESERVED 