mixin intro()
    section.intro#intro 
        .intro__background 
            img(src="@img/intro-background.png", alt="" draggable="false")
        .intro__body.container
            h1.intro__title AT THE WORLD’S MARITIME CENTRE
            p.intro__p Harbour Lights is a luxurious waterfront residence located in the heart of Dubai Maritime City.
            button(type="button" data-popup="#register").intro__btn.btn Register your interest
        a(href="#about").intro__scroll.hover
            span Scroll 
            div 
                <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9.61538 9.61538L18.2308 1" stroke="#DCC39E" stroke-width="1.63077"/>
                </svg>