mixin intro()
    section.intro#intro 
        .intro__background 
            img(src="@img/intro-background.png", alt="" draggable="false")
        .intro__body.container
            h1.intro__title AT THE WORLD’S MARITIME CENTRE
            p.intro__p Harbour Lights is a luxurious waterfront residence located in the heart of Dubai Maritime City.
            button(type="button" data-popup="#brochure-popup").intro__btn.btn Explore more