mixin popup()
    .popup#register 
        .popup__overlay.popup-close 
        .popup__body
            button(type="button").popup-close.popup__close.hover 
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2871 1.16699L1.28711 21.167M21.2871 21.167L1.28711 1.16699" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .popup__bg.multiple
                .popup__bg-img.first.active
                    img(src="@img/popup-1.png" alt="" draggable="false")
                .popup__bg-img 
                    img(src="@img/popup-2.png" alt="" draggable="false")
                .popup__bg-img.last 
                    img(src="@img/popup-3.png" alt="" draggable="false")
            .popup__content
                p.popup__title <span>Get information</span> on availabilities
                p.popup__p that includes :
                .popup__tag 
                    .popup__tag-wrap
                        .popup__tag-item
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 1.70498L5.5 13.705L0 8.20498L1.41 6.79498L5.5 10.875L16.09 0.294983L17.5 1.70498Z" fill="#DCC39E"/>
                            </svg>
                            span Masterplan
                        .popup__tag-item
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 1.70498L5.5 13.705L0 8.20498L1.41 6.79498L5.5 10.875L16.09 0.294983L17.5 1.70498Z" fill="#DCC39E"/>
                            </svg>
                            span Gallery
                        .popup__tag-item
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 1.70498L5.5 13.705L0 8.20498L1.41 6.79498L5.5 10.875L16.09 0.294983L17.5 1.70498Z" fill="#DCC39E"/>
                            </svg>
                            span Lifestyle
                        .popup__tag-item
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5 1.70498L5.5 13.705L0 8.20498L1.41 6.79498L5.5 10.875L16.09 0.294983L17.5 1.70498Z" fill="#DCC39E"/>
                            </svg>
                            span Floor plans
            form(action="#" method="post").popup__form
                .popup__input
                    input(type="text" name='name' placeholder="Your name" required)
                    .popup__input-hr 
                .popup__input
                    input(type='email' name='email' placeholder="Your email" required)
                    .popup__input-hr 
                .popup__input
                    input(type='tel' name='phone' placeholder="Your number" required)
                    .popup__input-hr 
                input(type="hidden" name="project" value="damac")
                input(type="hidden" name="description" value="page_form")
                input(type="hidden" name="duration" value="").duration
                input(type="hidden" name="pasted_fields" value="").pasted_fields
                input(type="hidden" name="language" value="english")
                input(type="hidden" name="current_page" value="")
                button(type="submit").popup__button.hover Download 
    .popup.floorplan-popup#floorPopup  
        .popup__overlay.popup-close 
        .popup__body
            button(type="button").popup-close.popup__close.hover 
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2871 1.16699L1.28711 21.167M21.2871 21.167L1.28711 1.16699" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 

    .popup.handover-popup#handover-popup
        .popup__body
            button(type="button").popup-close.popup__close.hover 
                <svg width="13" height="13" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2871 1.16699L1.28711 21.167M21.2871 21.167L1.28711 1.16699" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
            .popup__body-rows
                .popup__body-col 
                    .popup__body-item 5% Within 3 Month(s) Of Sale Date
                    .popup__body-item 5% Within 6 Month(s) Of Sale Date
                    .popup__body-item 5% Within 9 Month(s) Of Sale Date
                    .popup__body-item 5% Within 12 Month(s) Of Sale Date
                    .popup__body-item 3% Within 15 Month(s) Of Sale Date
                    .popup__body-item 3% Within 18 Month(s) Of Sale Date
                    .popup__body-item 3% Within 21 Month(s) Of Sale Date
                    .popup__body-item 3% Within 24 Month(s) Of Sale Date
                    .popup__body-item 3% Within 27 Month(s) Of Sale Date
                    .popup__body-item 3% Within 30 Month(s) Of Sale Date
                .popup__body-col 
                    .popup__body-item 3% Within 33 Month(s) Of Sale Date
                    .popup__body-item 3% Within 36 Month(s) Of Sale Date
                    .popup__body-item 3% Within 39 Month(s) Of Sale Date
                    .popup__body-item 3% Within 42 Month(s) Of Sale Date
                    .popup__body-item 3% Within 45 Month(s) Of Sale Date
                    .popup__body-item 3% Within 48 Month(s) Of Sale Date
                    .popup__body-item 2% On 70% Completion Milestone
                    .popup__body-item 1% On 80% Completion Milestone
                    .popup__body-item 1% On 90% Completion Milestone
                    .popup__body-item 20% On Completion
        .popup__overlay.popup-close Back

